.grid-item {
  height: 200px;
  width: 200px;
  border: 3px solid blue;
  cursor: pointer;

  &__value {
    font-size: 22px;
    font-weight: bold;
  }
  
  &--state-highlighted {
    background: lightcoral;
  }
}
